flow.json
[{"id":"a9f32ae8.a1003","type":"tab","label":"Flow 1"},{"id":"24cf294a.0cf276","type":"tab","label":"Flow 2"},{"id":"9a2ee475.8092c8","type":"inject","z":"a9f32ae8.a1003","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.85646057128906,"y":552.5764660835266,"wires":[["b663c273.43a4e8","db75cdfc.781b28"]]},{"id":"c6724f2f.80012","type":"watson-conversation-v1","z":"a9f32ae8.a1003","name":"","workspaceid":"70aea7a1-c3ab-483b-9e1c-098b29ed42ea","multiuser":false,"context":true,"x":575.7731323242188,"y":295.5764465332031,"wires":[["27098d67.771a92"]]},{"id":"6349d734.5f00b","type":"watson-speech-to-text","z":"a9f32ae8.a1003","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"JWHNEB7WtesB","x":151.0231170654297,"y":380.826416015625,"wires":[["d27acd04.b2ced8"]]},{"id":"eef1e3d2.8fa2d","type":"watson-text-to-speech","z":"a9f32ae8.a1003","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"WJFbnTX6ZKat","x":1071.7731227874756,"y":348.9097843170166,"wires":[["ba9f2c6c.5ea928"]]},{"id":"d27acd04.b2ced8","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":395.02313232421875,"y":350.826416015625,"wires":[["db75cdfc.781b28","b663c273.43a4e8"]]},{"id":"ba9f2c6c.5ea928","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1242.4398746490479,"y":348.9097843170166,"wires":[["6664c8e9.787108"]]},{"id":"6664c8e9.787108","type":"play audio","z":"a9f32ae8.a1003","name":"","x":1401.7731685638428,"y":348.9097843170166,"wires":[]},{"id":"677d5d48.d12f34","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.02311706542969,"y":133.57644081115723,"wires":[["517c9403.adc0a4"]]},{"id":"7a6026d8.320a3","type":"watson-conversation-v1","z":"a9f32ae8.a1003","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":508.1064338684082,"y":1563.2430934906006,"wires":[["b84f8f30.2cc6e"]]},{"id":"57812b99.743d44","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.1064338684082,"y":1481.2430934906006,"wires":[["e90e3e49.ea0dd8"]]},{"id":"6f48b251.0a5434","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.6064338684082,"y":1518.2430934906006,"wires":[["e90e3e49.ea0dd8"]]},{"id":"e90e3e49.ea0dd8","type":"function","z":"a9f32ae8.a1003","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":270.6064338684082,"y":1517.2430934906006,"wires":[["7a6026d8.320a3"]]},{"id":"c2e1a387.e283d","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":98.1064338684082,"y":1602.2430934906006,"wires":[["39506b13.98fe04"]]},{"id":"3abb0d6e.548bd2","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":98.6064338684082,"y":1638.2430934906006,"wires":[["39506b13.98fe04"]]},{"id":"39506b13.98fe04","type":"function","z":"a9f32ae8.a1003","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":269.6064338684082,"y":1637.2430934906006,"wires":[["7a6026d8.320a3"]]},{"id":"b84f8f30.2cc6e","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"payload.output.text","x":727.1064338684082,"y":1563.2430934906006,"wires":[]},{"id":"e58028e1.7b48","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":275.1064338684082,"y":1384.2430934906006,"wires":[["7a6026d8.320a3"]]},{"id":"83fe56e6.b5bb18","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":275.1064338684082,"y":1420.2430934906006,"wires":[["7a6026d8.320a3"]]},{"id":"1020b257.e3980e","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.6064338684082,"y":1732.2430934906006,"wires":[["fe1e63b9.57ccb8"]]},{"id":"fe1e63b9.57ccb8","type":"function","z":"a9f32ae8.a1003","name":"reset context","func":"msg.params = {\n context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":291.6064338684082,"y":1732.2430934906006,"wires":[["7a6026d8.320a3"]]},{"id":"9757de5d.09ede","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.6064338684082,"y":1554.2430934906006,"wires":[["e90e3e49.ea0dd8"]]},{"id":"8515aa29.285a5","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":98.1064338684082,"y":1674.2430934906006,"wires":[["39506b13.98fe04"]]},{"id":"c0b869a1.728da8","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":275.1064338684082,"y":1456.2430934906006,"wires":[["7a6026d8.320a3"]]},{"id":"2817dfc7.d6be68","type":"microphone","z":"a9f32ae8.a1003","name":"","x":111.27312088012695,"y":273.5764102935791,"wires":[["6349d734.5f00b","db75cdfc.781b28"]]},{"id":"37809ad9.4f5e56","type":"inject","z":"a9f32ae8.a1003","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.02311706542969,"y":98.24309730529785,"wires":[["2e5d8c36.e391f4"]]},{"id":"2e5d8c36.e391f4","type":"function","z":"a9f32ae8.a1003","name":"reset context","func":"msg.params = {\n context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":276.0231170654297,"y":98.24310493469238,"wires":[[]]},{"id":"517c9403.adc0a4","type":"function","z":"a9f32ae8.a1003","name":"add context","func":"msg.additional_context = {\n twitter: {\n handle: \"a_twitter_handle_without_the_at_symbol\",\n dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":275.8564147949219,"y":133.24312782287598,"wires":[[]]},{"id":"27098d67.771a92","type":"function","z":"a9f32ae8.a1003","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n output = msg.payload.output.text.join(' ');\n if (output && output.indexOf(\"|tweet:\") > -1) {\n node.warn(\"tweeting\");\n if (\n msg.payload.context.twitter &&\n msg.payload.context.twitter.handle \n ) {\n \n // extract text and url to tweet and clean up strings\n var tweet = output.split('|')\n .filter(function (c){\n return c.indexOf(\"tweet:\") > -1 ;\n }).join(', ').replace(\"tweet:\", '');\n var url = output.split('|')\n .filter(function (c){\n return c.indexOf(\"link:\") > -1 ;\n }).join(', ').replace(\"link:\", '');\n \n // dm switch\n var dmswitch = '';\n if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n dmswitch = \"DM \";\n }\n // construct tweet\n tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n \n msg.payload = tweet;\n node.warn(\"Sending string to twitter node: \\n\" + tweet)\n node.send([msg,null]);\n \n } else {node.error(\"no twitter details\");}\n } else {\n node.warn(\"no tweet requested\");\n }\n output = output.split('|')\n .filter(function(c) {\n return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n }).join(' ');\n} else {\n output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":799.9397583007812,"y":295.2430725097656,"wires":[["cf0e6302.551f48"],["eef1e3d2.8fa2d"]]},{"id":"f9710f2b.baae5","type":"inject","z":"a9f32ae8.a1003","name":"Hi","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.0231170654297,"y":514.9931221008301,"wires":[["b663c273.43a4e8","db75cdfc.781b28"]]},{"id":"39df032.14710fc","type":"inject","z":"a9f32ae8.a1003","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":350.27313232421875,"y":623.4931030273438,"wires":[["b663c273.43a4e8"]]},{"id":"7183d7f3.b9a8e","type":"inject","z":"a9f32ae8.a1003","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":341.77313232421875,"y":588.2431030273438,"wires":[["b663c273.43a4e8"]]},{"id":"db75cdfc.781b28","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"false","x":343.25,"y":454.9190673828125,"wires":[]},{"id":"b663c273.43a4e8","type":"watson-tone-analyzer-v3","z":"a9f32ae8.a1003","name":"","tones":"emotion","sentences":"false","contentType":"false","x":653.4999809265137,"y":555.835750579834,"wires":[["eaac868d.9712a8"]]},{"id":"eaac868d.9712a8","type":"function","z":"a9f32ae8.a1003","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n .filter(function(c){\n if (c.category_id == \"emotion_tone\")\n {return c; }\n })[0].tones;\n \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n topemotion = topemotion.tone_name;\n} else {\n topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n \" + topemotion); \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":868.0832977294922,"y":556.7524070739746,"wires":[["c6724f2f.80012"]]},{"id":"b4590761.d9836","type":"comment","z":"a9f32ae8.a1003","name":"config","info":"","x":57.175750732421875,"y":58,"wires":[]},{"id":"3b2ed964.351296","type":"comment","z":"a9f32ae8.a1003","name":"speech in","info":"","x":67.50000381469727,"y":238.1111936569214,"wires":[]},{"id":"59fd26d0.3160b8","type":"comment","z":"a9f32ae8.a1003","name":"test txt in","info":"","x":65,"y":475.6112575531006,"wires":[]},{"id":"d89486aa.431728","type":"comment","z":"a9f32ae8.a1003","name":"tone analyser","info":"","x":664.75,"y":517.1112060546875,"wires":[]},{"id":"c710599e.0f7e38","type":"comment","z":"a9f32ae8.a1003","name":"conversations call and output","info":"","x":613.7500419616699,"y":244.36119270324707,"wires":[]},{"id":"cf0e6302.551f48","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"false","x":1062.5,"y":273.5,"wires":[]},{"id":"895057a4.2917b","type":"watson-text-to-speech","z":"a9f32ae8.a1003","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"WJFbnTX6ZKat","x":537,"y":719,"wires":[["14ead3e.09fbf2c"]]},{"id":"95232c83.8d6bc","type":"microphone","z":"a9f32ae8.a1003","name":"","x":173,"y":1033,"wires":[["9b7b791c.eec5d8"]]},{"id":"9b7b791c.eec5d8","type":"watson-speech-to-text","z":"a9f32ae8.a1003","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"JWHNEB7WtesB","x":377,"y":1041,"wires":[["9257c8cf.ce361"]]},{"id":"9257c8cf.ce361","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":1046,"wires":[["b61f1c36.2105b","ca8d1caa.a7de5"]]},{"id":"1019faed.4ff9a5","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"payload","x":1111,"y":1115,"wires":[]},{"id":"88254212.69d95","type":"inject","z":"a9f32ae8.a1003","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":283,"y":748,"wires":[["895057a4.2917b"]]},{"id":"ac42c560.d5cad","type":"inject","z":"a9f32ae8.a1003","name":"Happy feedback","topic":"","payload":"Thes new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":283,"y":712,"wires":[["895057a4.2917b"]]},{"id":"14ead3e.09fbf2c","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":731,"y":703,"wires":[["7db5ddbb.623724"]]},{"id":"7db5ddbb.623724","type":"play audio","z":"a9f32ae8.a1003","name":"","x":911.3333129882812,"y":705,"wires":[]},{"id":"b61f1c36.2105b","type":"watson-tone-analyzer-v3","z":"a9f32ae8.a1003","name":"","tones":"emotion","sentences":"false","contentType":"false","x":779,"y":1046,"wires":[["a28d09d0.d557c8","550407c4.9d6ec8"]]},{"id":"96955780.7923b","type":"function","z":"a9f32ae8.a1003","name":"set payload ","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n output = msg.payload.output.text.join(' ');\n \n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send(msg);","outputs":"1","noerr":0,"x":827.4398193359375,"y":867.4073486328125,"wires":[["895057a4.2917b"]]},{"id":"a28d09d0.d557c8","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.response;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":941,"y":1144,"wires":[["1019faed.4ff9a5"]]},{"id":"ca8d1caa.a7de5","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"false","x":718,"y":1205,"wires":[]},{"id":"550407c4.9d6ec8","type":"function","z":"a9f32ae8.a1003","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n .filter(function(c){\n if (c.category_id == \"emotion_tone\")\n {return c; }\n })[0].tones;\n \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n topemotion = topemotion.tone_name;\n} else {\n topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n \" + topemotion); \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":445,"y":883,"wires":[["186c4804.cc4af8"]]},{"id":"186c4804.cc4af8","type":"watson-conversation-v1","z":"a9f32ae8.a1003","name":"","workspaceid":"70aea7a1-c3ab-483b-9e1c-098b29ed42ea","multiuser":false,"context":true,"x":661,"y":873,"wires":[["96955780.7923b"]]}]